<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="card margin-card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <p>Username : <%= @user.screen_name %></p>
              <p>Account created at: <%= @account_creation.strftime("%Y-%m-%d") %></p>
              <p>Nomber of tweets: <%= @tweets_last_20_days.count %></p>
              <p><% if @tweets_last_20_days.empty? %>
                    Number of tweet per day : 0
                 <% else %>
                    Number of tweets per day: <%= @tweets_rate %>
                 <% end %>
              </p>
              <p><% unless @repeted_hours.empty? %>
                    <% @repeted_hours.each do |hour| %>
                      Repeted hours: <%= hour %>
                    <% end %>
                  <% end %>
              </p>
             
              
            </div>
            <div class="col-md-6 text-right">
              <%= image_tag(@user.profile_image_url(size = :original).to_s, size: "200", class:"center") %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card margin-card">
        <div class="card-block graphique">
          
          <% if @tweets_last_20_days.empty? %>
            <h2>No tweets during the last 20 days ! </h2>
          <% elsif @tweets_last_20_days.count == 30 %>
            <h2>This person may be a serial tweeter ...</h2>
             <span class="dynamicbar"></span>
          <% else %>
            <h2>Tweets on the last 20 days</h2>
            <span class="dynamicbar"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

 
    
</div>
    


<script type="text/javascript">
$(function() {
     /* Sparklines can also take their values from the first argument 
    passed to the sparkline() function */
    var myvalues = <%= @array_of_values %>;
    // var myvalues = [10, 10, 5, 6]
    var range_map = $.range_map({
        1: '#F5D76E',
        '2:3': '#87D37C',
        '4:5': '#F89406',
        '6:': '#CF000F'
    })
   	/* The second argument gives options such as chart type */
    $('.dynamicbar').sparkline(myvalues, {type: 'bar', height: '100px', barWidth: '15px', colorMap: range_map, tooltipFormat: $.spformat('{{value}}', 'tooltip-class')} );

    
});
</script>


