<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <div class="card" style="background-color: #03C9A9; border-color: #03C9A9;">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <p>Nom : <%= @user.screen_name %></p>
              <p>Creation du compte: <%= @account_creation.strftime("%Y-%m-%d") %></p>
              <p>Number of tweets: <%= @tweets.count %></p>
              
            </div>
            <div class="col-sm-6 text-right">
              <%= image_tag(@user.profile_image_url(size = :original).to_s, size: "200", class:"center") %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="row">

    <h1>Tweets on the last 30 days</h1>
    <div class="card card-outline-danger text-center">
      <div class="card-block graphique">
        <span class="dynamicbar"></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
     /* Sparklines can also take their values from the first argument 
    passed to the sparkline() function */
    var myvalues = <%= @array_of_values %>;
    // var myvalues = [10, 10, 5, 6]
    var range_map = $.range_map({
        1: '#F5D76E',
        '2:3': '#87D37C',
        '4:5': '#F89406',
        '6:': '#CF000F'
    })
   	/* The second argument gives options such as chart type */
    $('.dynamicbar').sparkline(myvalues, {type: 'bar', height: '200px', barWidth: '30px', colorMap: range_map} );

    
});
</script>


