<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="card margin-card">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-8">
            <dl class="row">
              <dt class="col-sm-6">Account created at:</dt>
              <dd class="col-sm-6"><%= @account_creation.strftime("%Y-%m-%d") %></dd>

              <dt class="col-sm-6">Username :</dt>
              <dd class="col-sm-6"><%= @user.screen_name %></dd>
              

              <dt class="col-sm-6">Number of tweet per day</dt>
              <dd class="col-sm-6">
                <% if @tweets_last_20_days.empty? %>
                  O
                <% else %>
                  <%= @tweets_rate %>
                <% end %> 
              </dd>
              <% unless @repeted_hours.empty? %>
                <dt class="col-sm-6">Repeted hours: </dt>
                <dd class="col-sm-6">
                  <% @repeted_hours.each do |hour| %>
                    <%= hour %>
                  <% end %>
                </dd>
              <% end %>
            </dl>
          </div>
          <div class="col-lg-4">
             <div class="row text-right">
              <%= image_tag(@user.profile_image_url(size = :original).to_s, size: "150", class:"center") %> 
            </div>
          </div>
          </div>
      
          
            
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card margin-card">
        <div class="card-block graphique">
          
          <% if @tweets_last_20_days.empty? %>
            <h2>No tweets during the last 20 days ! </h2>
          <% elsif @tweets_last_20_days.count == 30 %>
            <h2>This person may be a serial tweeter ...</h2>
             <span class="dynamicbar"></span>
          <% else %>
            <h2>Tweets on the last 20 days</h2>
            <span class="dynamicbar"></span>
          <% end %>

        </div>
      </div>
    </div>

  </div>
</div>
 
  
    


<script type="text/javascript">
$(function() {
     /* Sparklines can also take their values from the first argument 
    passed to the sparkline() function */
    var myvalues = <%= @array_of_values %>;
    // var myvalues = [10, 10, 5, 6]
    var range_map = $.range_map({
        1: '#F5D76E',
        '2:3': '#87D37C',
        '4:5': '#F89406',
        '6:': '#CF000F'
    })
   	/* The second argument gives options such as chart type */
    $('.dynamicbar').sparkline(myvalues, {type: 'bar', height: '100px', barWidth: '15px', colorMap: range_map, tooltipFormat: $.spformat('{{value}}', 'tooltip-class')} );

    
});
</script>


