<!DOCTYPE html>
<html>
  <head>
    <title>FollowYou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <div class="row">

        <%= link_to 'LessTweet', root_path, class:"navbar-brand mx-auto" %>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <section id="startchange">
      <%= yield %>
    </section>
    <section class="footer">
      <div class="row">
        <div class="mx-auto">
        contact
        </div>
      </div>
    </section>
    <script type="text/javascript">
      $(document).ready(function(){       
        var scroll_start = 0;
        var startchange = $('#startchange');
        var offset = startchange.offset();
        if (startchange.length){
          $(document).scroll(function() { 
            scroll_start = $(this).scrollTop();
          if(scroll_start > offset.top) {
          $(".navbar").css('background-color: white');
       } else {
          $('.navbar').css('background-color: transparent');
       }
    });
  }
});
    </script>

  </body>
</html>
